@import "tailwindcss";

@theme {
  --color-dark-bg: #000000;
  --color-dark-secondary: #0d0d0d;
  --color-dark-tertiary: #1a1a1a;
  --color-dark-text: #ffffff;
  --color-dark-muted: #b5bac1;
  --color-light-bg: #ffffff;
  --color-light-text: #000000;
  --color-light-primary: #00a884;
  --color-light-secondary: #f0f2f5;
  --color-green: #21c063;
  --color-hover-icons: #2d2e2e;

  /* Toggle Button */
  --color-toggle-bg: #21c063;
  --color-toggle-dark-bg: #21c063;

  --color-toggle-closed: #4a5565;
  --color-toggle-dark-closed: #4a5565;

  --color-toggle-circle: #000000;
  --color-toggle-dark-circle: #ffffff;

  /* Dropdown */
  --color-dropdown-text: #000000;
  --color-dropdown-dark-text: #ffffff;

  --color-dropdown-bg: #ffffff;
  --color-dropdown-dark-bg: #0d0d0d;
  --color-dropdown-hover-bg: #f5f5f5;
  --color-dropdown-dark-hover-bg: #3a3a3a;

  --color-dropdown-element-text: #000000;
  --color-dropdown-element-dark-text: #ffffff;

  --color-dropdown-element-bg: #ffffff;
  --color-dropdown-element-dark-bg: #0d0d0d;
  --color-dropdown-element-hover-bg: #f5f5f5;
  --color-dropdown-element-dark-hover-bg: #3a3a3a;

  --color-dropdown-border: #dcdcdc50;
  --color-dropdown-dark-border: #dcdcdc50;

  /* Keyboard Shortcuts */
  --color-shortcut-bg: #ffffff;
  --color-shortcut-dark-bg: #323232;
  --color-shortcut-border: #585a5c;
  --color-shortcut-text: #000000;
  --color-shortcut-dark-text: #ffffff;
}

@variant dark (&:where(.dark, .dark *));

body {
  background-color: #f0f2f5;
  color: #000000;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont;
}

.dark body {
  background-color: #000000;
  color: #ffffff;
}

.wa-root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wa-card {
  width: 900px;
  height: 520px;
  background: white;
  display: flex;
  border-radius: 8px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.08);
}

/* LEFT */
.wa-left {
  flex: 1;
  padding: 48px;
}

.wa-logo {
  width: 40px;
  margin-bottom: 24px;
}

.wa-left h1 {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 24px;
}

.wa-left ol {
  padding-left: 18px;
  color: #3b4a54;
  line-height: 1.8;
}

.wa-login-btn {
  margin-top: 32px;
  background: #25d366;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

/* RIGHT */
.wa-right {
  width: 360px;
  background: #f7f8fa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.qr-box {
  background: white;
  padding: 16px;
  border-radius: 6px;
}

.qr-text {
  margin-top: 16px;
  color: #667781;
  font-size: 14px;
}

.qr-status {
  margin-top: 8px;
  font-size: 13px;
  color: #25d366;
}
