name: Format

on:
  push:
    branches: [master]

jobs:
  prettier:
    needs: gofmt
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.head_ref }}

      - name: Run Prettier
        uses: creyD/prettier_action@v4.6
        with:
          prettier_options: --write "frontend/src/**/*.{js,ts,jsx,tsx,vue,css,scss}"
          commit_message: "chore: format frontend with prettier"

  gofmt:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.head_ref }}

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: stable

      - name: Run gofmt
        run: |
          gofmt -w .

      - name: Commit gofmt changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "chore: format go code with gofmt"
